:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0093E9;
  background-image: radial-gradient( circle, rgba(66, 144, 189, 0.5) 0%, rgba(59, 37, 155, 0.7) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }

  .title-container{
    background-color: rgba(243, 197, 176, 0.438);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }

  h1 span{
    color: #e77946;
  }

  
  .list > .card{
    background-color: rgba(243, 197, 176, 0.438);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .list .card img{
    background: transparent;
  }

  .counter-section{
    > button {
      background-color: #e77946;


      &:hover{
        transition: all .2s ease;
        color: white;
      }
    }
  }

  .list  div .buttons button{
    background-color: #e77946;
    &:hover{
      transition: all .2s ease;
      color: white;
    }
  }

  .list > div .buttons > a{
    &:hover{
      color: #e77946;
    }
  }

  .list .card .btn-edit{
    background-color: #e77946;
    &:hover{
      color: white;
    }
  }

  .count-products{
    background-color: #e77946;
  }

  .modal-content{
    color: white;
    background-color: rgba(243, 197, 176, 0.438);
    backdrop-filter: blur(40px); 
  }

  .modal-content button{
    background-color: #e77946;
  }

  .modal-content button:last-child {
    background-color: rgb(129, 129, 129);
  }

  .btnAddProduct{
    background-color: #e77946;
  }
}
